
@{
    ViewBag.Title = "Drop";
}

<h2>Drop</h2>

<script src = "~/Scripts/dropzone/dropzone.min.js" >
    </script>
<script src = "~/Scripts/bootstrap.min.js">
</script>
<link href = "~/Scripts/dropzone/dropzone.min.css" rel = "stylesheet" />
<div class = "jumbotron">
    <form action = "~/Home/Upload"class = "dropzone" id = "dropzoneJsForm" style = "background-color:#00BFFF">
    </form>
    <button id = "submit-all">
     Submit All Files
       </button> </div>